body{
    background-image: url(../img/backgrounds/background2.png);
    background-size: cover ;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
}

/* Contatos */

.contatos{
    width: 16.8vw;
    height: 10vw;
    background: white;
    border: 0.6vmin dashed;
    border-radius: 10%;
    float: right;
    margin-right: 3.5%;
    margin-bottom: 20%;
    margin-top: -4.2vw;
}

.contatos h1{
    text-align: center;
    margin: 0;
    font-family: 'basketball';
    font-size: 3vw;
    letter-spacing: 0.12em;
    cursor: default;
}
.contatos img{
    width: 7.6vw;
    height: 2.4vw;
    margin: 1%;
}

.contatos img:hover{
    opacity: 74%;
}


/* Perfil foto + nome */

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    margin-left: 1%;
}
.perfil img{
    width: 16.3vw;
    height: 16vw;
}

.perfil h1{
    font-family: 'amazing grotesk ultra';
    color: white;
    margin-top: 0;
    font-size: 3vw;
}

/* Texto principal*/
.texto1_home{
    width: 45vw;
    height: 21vw;
    background: white;
    border: 0.6vmin solid;
    border-radius: 30px;
    border-top-right-radius: 25%;
    text-align: left;
}

.texto1_home h1{
    font-family: 'amazing grotesk demi';
    font-size: 2.5vw;
    margin-left: 2%;
    margin-top: 2.2%;
}

.texto1_home p{
    font-family: 'amazing grotesk book';
    font-size: 1.3vw;
    margin-left: 2%;
    margin-top: -1.8%;
}

.p2_texto1_home{
    padding-top: 4%;
}


/* Conteúdo */

.conteudo{
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.block_home{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1.5vw;
}

/* Endereço */

.endereco{
    margin-top: -22vw;
    width: 22vw;
    height: 18vw;
    background-color: rgb(58, 57, 57);
    border: 0.4vw solid white;
    margin-right: 1vw;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe{
    width: 12vw;
    height: 12vw;
    margin-top: 2vw;
}

.endereco p{
    text-align: center;
    color: white;
    margin-top: 2vw;
    font-size: 1vw;
}


@media screen and (max-width: 1000px){
    .block_home{
        flex-direction: column;
    }

    .texto1_home{
        width: 75vw;
        height: 39vw;
    }

    .texto1_home h1{
        font-size: 5vw;
    }

    .texto1_home p{
        font-size: 2.3vw;
    }

    .perfil img{
        width: 26.3vw;
        height: 26vw;
    }
    
    .perfil h1{
        font-family: 'amazing grotesk ultra';
        color: white;
        margin-top: 0;
        font-size: 4vw;
    }

    .contatos{
        width: 36.8vw;
        height: 22vw;
        margin-top: 10%;
        border: 1.2vmin dashed;
    }
    
    .contatos h1{
        font-size: 6vw;
        letter-spacing: 0.16em;
    }
    .contatos img{
        width: 14vw;
        height: 6vw;
        margin: 2%;
        margin-left: 5%;
    }

    .endereco{
        margin-top: -10vw;
        width: 60vw;
        height: 50vw;
        margin-bottom: 5vw;
    }

    iframe{
        width: 33vw;
        height: 33vw;
    }

    .endereco p{
        font-size: 2.3vw;
    }
}