body{
    background-image: url(../img/backgrounds/background_lore1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
}

/* Inicio Geral */

@keyframes fundo {
    0%{
        background-size: auto 50vw;
    }
    100%{
        background-size: auto 55vw;
    }
}

.conteudo{
    background-color: rgb(255, 255, 255);
    margin-top: 43%;
    width: 100%;
    height: 305vw;
}

.block{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block h1{
    font-size: 7vw;
    font-family: 'gagalin';
    font-weight: normal ;
    text-align: center;
}

.horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'League Spartan', sans-serif;
    margin-left: 6%;
    margin-right: 4%;
    margin-bottom: 2%;
}

.horizontal img{
    border: 3px solid;
}

p{
    font-size: 1.55vw;
}

/* Fim Geral*/ 

/* Um */
.um{
    margin-top: -3%;
}

.um img{
    width: 30vw;
    margin-right: -4%;
    border: none;
}
/* Fim Um*/

/* Dois */
.dois{
    margin-top: 1.5%;
}
.dois img{
    width: 18vw;
    margin-left: 1%;
    margin-top: -7%;
}

.dois p{
    margin-right: 6%;
    margin-left: 5%;
    margin-bottom: 8%;
}
/* Fim Dois */

/* Tres */
.tres{
    margin-top: -3%;
}
/* Fim Tres*/

/* Quatro */
/* Fim quatro*/

/* Background 1*/
.background{
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    width: 100vw;
    height: 27vw;
    animation: fundo 47s infinite alternate ease;
}

.one{
    background-image: url(../img/backgrounds/Regis.jpg);
}

/* Fim Background 1*/

/* Cinco */

.cinco{
    margin-right: 15%;
}
.cinco p{
    margin-left: 5%;
}

/* Fim Cinco */

/* Seis*/

.seis{
    justify-content: center;
}

.seis img{
    width: 40vw;
}
/* Fim seis*/

/* Sete */

.sete img{
    height: 24vw;
    margin-left: 4vw;
    margin-top: 5vw;
}
/* Fim Sete*/ 

/* Oito */
/* Fim Oito*/

/* Nove */
/* Fim Nove*/

/* Background 2*/
.two{
    background-image: url(../img/backgrounds/dialga_palkia_giratina.jpg);
}
/* Fim Background 2*/

/* Dez */
/* Fim Dez*/

/* Onze */
.image{
    height: 20vw;
    margin-left: 2%;
}

.onze img{
    width: 15vw;
    border: none;
}
.onze p{
    margin-left: 6%;
}
/* Fim Onze*/

.envolto{
    margin-top: 5vw;
}