html{
    scroll-behavior: smooth;
    margin: auto;
}

*{
    transition: all 0.2s;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #7c7c7c98;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 94, 0);
    border-radius: 10px;
    border: 2px solid #4e4e4e;
}



@font-face{
    font-family: 'adumu';
    src: url(../fonts/Adumu/Adumu.ttf) format("truetype");
}

@font-face{
    font-family: 'people book';
    src: url(../fonts/PEOPLE_BOOK/PEOPLE_BOOK.otf) format("opentype");
}

@font-face{
    font-family: 'basketball';
    src: url(../fonts/Basketball/Basketball.otf) format("opentype");
}

@font-face {
    font-family: 'amazing grotesk demi';
    src: url(../fonts/Amazing_Grotesk_Demi/Amazing_Grotesk_Demi.otf) format("opentype");
}

@font-face {
    font-family: 'amazing grotesk ultra';
    src: url(../fonts/Amazing_Grotesk_Ultra/Amazing\ Grotesk\ Ultra.otf) format("opentype");
}

@font-face {
    font-family: 'amazing grotesk light';
    src: url(../fonts/Amazing_Grotesk_Light/Amazing\ Grotesk\ Light.otf) format("opentype");
}

@font-face {
    font-family: 'amazing grotesk book';
    src: url(../fonts/Amazing_Grotesk_Book/Amazing\ Grotesk\ Book.otf) format("opentype");
}

@font-face {
    font-family: 'libre baskerville bold';
    src: url(../fonts/Libre_Baskerville_Bold/libre-baskerville.bold.otf) format("opentype");
}

@font-face {
    font-family: 'angolround_black';
    src: url(../fonts/Angolround_black/angolroundblack.otf) format("opentype");
}
/* MENU */

.Menu{
    background-color: rgb(176, 255, 140);
    width: 100%;
    height: 5vw;
    text-align: center;
    top: 0;
    padding: 0;
    position: fixed;
    left: 0;
    word-spacing: 8vw;
    cursor: default;
    z-index: 1;
    word-spacing: 5vw;
    
}

.Menu_inside{
    display: inline;
    width: 100%;
}

.logo{
    width: 20vw;
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    left: 1vw;
    top: -0.1%;
    cursor: default;
}

.Menu ul li{
    font-size: 2.4vw;
    font-family: 'adumu';
    display: inline-block;
    text-decoration: none;

}

.Menu ul li span{
    position: relative;
    left: 4%;
    top: -2vh;
}


.Menu ul li img{
    width: 3.7vw;
    height: 3.5vw;
    margin-top: -7%;
}

.home{
    margin-left: 12%;

}

.Menu a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.Menu a:hover{
    text-decoration: underline;
    color: #a6ff00;
    text-shadow: 0 0 15px #ff3636;
}

.Menu ul li:hover{
    text-decoration: underline;
    color: #a6ff00;
    text-shadow: 0 0 15px #ff3636;
}

