
.conteudo{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

.block img{
    width: 13vw;
}

.block ul li{
    display: inline-block;
    margin-left: 8vw;
    margin-top: 3vw;

}

@media screen and (max-width: 1190px){
    .block img{
        width: 19vw;
    }
    
    .block ul li{
        margin-left: 9vw;
        
    
    }
}
